:root {
  box-sizing: border-box;
}

.flyin-grid {
  margin: 0.5em;
  perspective: 500px;

  img {
    width: 100%;
  }

  @media (min-width: 30em) {
    display: flex;
    flex-wrap: wrap;

    > .flyin-grid__item {
      flex: 1 1 300px;
      max-width: 600px;
      margin: 0em 0.5em;
      animation-fill-mode: backwards;

      &:nth-of-type(2) {
        animation-delay: 0.25s;
        animation-fill-mode: backwards;
      }
      &:nth-of-type(3) {
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
      }
      &:nth-of-type(4) {
        animation-delay: 0.75s;
        animation-fill-mode: backwards;
      }
      &:nth-of-type(5) {
        animation-delay: 1s;
        animation-fill-mode: backwards;
      }
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2em;

      > .flyin-grid__item {
        max-width: initial;
        margin: 0em;
        animation: fly-in 900ms ease-in;
      }
    }
  }
}

.card {
  background-color: aliceblue;
  margin-bottom: 0.5em;
  box-shadow: 0em 0em 0.2em slategray;
  padding: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: center;

  > button {
    border: 0;
    background-color: hsl(130deg, 50%, 50%);
    border-radius: 0.5em;
    color: white;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: hsl(130deg, 40%, 40%);
    }

    &.is-submit {
      position: relative;
      color: transparent;

      &::after {
        position: absolute;
        display: block;
        width: 1em;
        height: 1em;
        content: "";
        border-top: 0.1em solid white;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-top: -0.5em;
        margin-left: -0.5em;
        animation: spin 0.5s linear infinite;
      }
    }

    &.shake {
      animation: shake 800ms ease-in;
    }
  }
}

@keyframes fly-in {
  0% {
    opacity: 0;
    transform: translateZ(-800px) rotateY(90deg);
  }

  50% {
    opacity: 1;
    transform: translateZ(-160px) rotateY(87deg);
  }

  100% {
    transform: translateZ(0) rotateY(0deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0em);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-0.3em);
  }

  20%,
  40%,
  60% {
    transform: translateX(0.3em);
  }

  80% {
    transform: translateX(-0.15em);
  }

  90% {
    transform: translateX(0.15em);
  }
}
